*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Voltaire', sans-serif;

}

h1 {
    font-size: 2.5rem;
    text-align: center;
    text-justify: auto;
    color: rgb(241, 234, 234);
}

#section {
    background-color: #0e0d0d;
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;   
    overflow: hidden;
}

.box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8{
    
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8{
    background-color: transparent;
}

.scroll {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #0e0d0d;
    position: fixed;
    top: 55%;
    left: 50%;
    z-index: 9;
}

.scroll {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.painting {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 999;
    opacity: 0;
}

.painting {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.h1, .h2, .h3, .h4, .h5 {
    opacity: 0;
}

footer {
    background-color: #0e0d0d;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
    height: 100vh;
}

.about {
    background-color: #000000;
    padding: 20px 20px;
    border-radius: 30px;
    height: 75%;
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 5px 10px #272727;
            box-shadow: 5px 10px #272727
}
h4 {
    margin: 10px 0;
    color: rgb(241, 234, 234);
}
h3 {
    margin: 0 0 20px 0;
    color: rgb(241, 234, 234);

}
p {
    margin: 10px auto;
    color: rgb(241, 234, 234);
}
.artist {
    margin: 10px auto;
    border-radius: 300px;
    width: 85%;  
}

#contact {
    padding: 30px;
    background-color: #000000;
    border-radius: 30px;
    height: 75%;
    width: 35%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 5px 10px #272727;
            box-shadow: 5px 10px #272727
}

#name, #email {
    margin: auto;
    width: 100%;
    height: 8%;
    background-color: rgb(236, 223, 223);
    border: none;
    border-radius: 10px;
}
textarea {
    margin: auto;
    width: 100%;
    height: 60%;
    background-color: rgb(236, 223, 223);
    border-radius: 10px;
    border: none;
}

#submit {
    width: 10%;
    height: 5%;
    border-radius: 5px;
    background-color: rgb(236, 223, 223);
    margin-left: 90%;
    border: none;
}

#submit:hover {
    color: rgb(236, 223, 223);
    background-color: #272727;
}


input[type=submit] {
    color: #272727;
    width: 100%;
    margin: auto auto;
    padding: 0 5px;
}

textarea[name=comment] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: none;
    resize: none;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: none;
}

@media screen and (min-width: 600px) {
    
    .border1, .border2, .border3, .border4, .border5, .border6, .border7, .border8 {
        padding: 0 10px;
        height: 98vh;
    }
    .box2{
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
    }
    .box3, .box5, .box6{
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
    }
    .h2 {
        width: 200px;
        height: 150px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .h1{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 200px;
        height: 150px;     
    }
    .h3 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 100vh;
    }
    .h5 {
        width: 450px;
    }
    
  }

@media only screen and (max-width: 700px) {
    .border2, .border3, .border4, .border5, .border6, .border8 {
        height: 99vh;
    }  
    
    .border1, .border7 {
        width: 99vw;
    }
    
    .h1, .h2, .h3, .h4, .h5 {
        display: none;
        visibility: hidden;
    }
    footer {
        height: 200vh;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .about {
        height: 40%;
        width: 60%;     
    }
    #contact {
        height: 40%;
        width: 70%;    
    }
}

@media only screen and (max-width: 450px) {
    
    h1 {
        font-size: 2rem;
        text-align: center;
        text-justify: auto;
        color: rgb(241, 234, 234);
    }

    .border1, .border2, .border3, .border4, .border5, .border6, .border7, .border8 {
        width: 99vw;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
    }
    .h1, .h2, .h3, .h4, .h5 {
        display: none;
        visibility: hidden;
    }

    .about {
        height: 40%;
        width: 80%;     
    }
    #contact {
        height: 40%;
        width: 90%;    
    }
    #submit {
        width: 15%;
       
    }
}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                