*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: 50%;
    height: 5vh;
    position: fixed;
    top: 2%;
    left: 52%;
    background-color: rgb(0, 0, 0);
    z-index: 1;
    display: flex;
    justify-content: space-around;
    border-radius: 50px 100px;
}

.nav-links {
    display: flex;
    list-style: none;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;    
}

.nav-links li a {
    padding: 4px;
    color: #fd0002;
    text-decoration: none;
    font-size: 16px;
}

.nav-links li a:hover {
    color: white;
}

.logo {
    display: flex;
    margin: auto;
    background-color: black;
    padding: 0 20px;
    border-radius: 50px 100px;
    position: absolute;
    opacity: 1;
}

.logo h1{
    font-family: 'Pangolin', cursive;
    color: #fd0002;
    font-size: 4rem;
    padding: 5px;
}

.home{    
    border: 1px solid green;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    background-attachment: fixed;
}

.img{
    position: absolute;
    bottom: 0;
    left: 0;
}

#section {
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;   
    overflow: hidden;
}

.box1, .box2, .box3, .box{
    padding-top: 8vh;
    width: 100%;
    height: 100vh;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: rgb(0, 0, 0);
}

.box1 {
    background-color: rgb(255, 255, 255);
}

.box2 {
    background-color: rgb(0, 0, 0);
}

.box3 {
    background-color: black(255, 255, 255);
}

.border {
    width: 70vh;
    height: 70vh;
}

footer {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    
    .logo h1{
        font-family: 'Pangolin', cursive;
        color: #fd0002;
        font-size: 2rem;
        padding: 5px;
    }

    .line {
        width: 25px;
        height: 3px;
        background: #e80000;
        margin: 5px;
    }

    nav {
        width: 80%;
        height: 5vh;
        position: fixed;
        top: 2%;
        left: 30%;
        background-color: rgb(0, 0, 0);
        z-index: 1;
        border-radius: 50px 100px;
    }

    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 15%;
        top: 50%; 
        transform: translate(-15%, -50%);
        z-index: 1;
    }
  
    .nav-links {
        position: fixed;
        background: rgb(0, 0, 0);
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(10px at 90% -20%);
        -webkit-clip-path: circle(10px at 90% -20%);
        transition: all 1s ease-out;
        pointer-events: none;
    }

    .nav-links li a {
        position: fixed;
        right:50%;
    }

    .nav-links.open {
        clip-path: circle(1000px at 90% -15%);
        -webkit-clip-path: circle(1000px at 90% -15%);
        pointer-events: all;
    }
}

